<link rel="stylesheet" href="/css/style.css">
<h2 class="text-center">Danh sรกch nhร cung cแบฅp</h2>

<a href="/suppliers/new">โ Thรชm nhร cung cแบฅp</a>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Tรชn</th>
      <th>ฤแปa chแป</th>
      <th>Sแป ฤiแปn thoแบกi</th>
      <th>Hรnh ฤแปng</th>
    </tr>
  </thead>
  <tbody>
    <% suppliers.forEach(s => { %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.address %></td>
        <td><%= s.phone %></td>
        <td>
          <a href="/suppliers/<%= s._id %>/edit">โ๏ธ Sแปญa</a>
          <form method="post" action="/suppliers/<%= s._id %>?_method=DELETE" style="display:inline;">
            <button type="submit">๐๏ธ Xรณa</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
